[submodule "busybox"]
	path = busybox
	url = https://github.com/GrieferPig/busybox.git
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/GrieferPig/opensbi.git
[submodule "linux-6.12"]
	path = linux-6.12
	url = https://github.com/GrieferPig/linux-6.12.git
