CONFIG_STATIC=y
CONFIG_CROSS_COMPILER_PREFIX="/opt/riscv32imac-musl/bin/riscv32-unknown-linux-musl-"
CONFIG_SYSROOT="/opt/riscv32imac-musl/sysroot"
CONFIG_EXTRA_CFLAGS="-march=rv32imac -mabi=ilp32"
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""
CONFIG_LFS=y
CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_SLEEP=y
CONFIG_ASH_HELP=y
CONFIG_CTTYHACK=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
CONFIG_CAT=y
CONFIG_CHMOD=y
CONFIG_CLEAR=y
CONFIG_CP=y
CONFIG_DMESG=y
CONFIG_ECHO=y
CONFIG_FALSE=y
CONFIG_FREE=y
CONFIG_KILL=y
CONFIG_LN=y
CONFIG_LS=y
CONFIG_MDEV=y
CONFIG_MKDIR=y
CONFIG_MKNOD=y
CONFIG_MOUNT=y
CONFIG_MOUNTPOINT=y
CONFIG_PS=y
CONFIG_PWD=y
CONFIG_REBOOT=y
CONFIG_RM=y
CONFIG_RMDIR=y
CONFIG_SLEEP=y
CONFIG_SYNC=y
CONFIG_TRUE=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
