CONFIG_STATIC=y
CONFIG_CROSS_COMPILER_PREFIX="/opt/riscv32imac-musl/bin/riscv32-unknown-linux-musl-"
CONFIG_SYSROOT="/opt/riscv32imac-musl/sysroot"
CONFIG_EXTRA_CFLAGS="-march=rv32imac -mabi=ilp32"
CONFIG_EXTRA_LDFLAGS=""
CONFIG_EXTRA_LDLIBS=""
CONFIG_LFS=y
CONFIG_BUSYBOX=y
CONFIG_FEATURE_INSTALLER=y
CONFIG_INSTALL_NO_USR=y
CONFIG_INSTALL_APPLET_SYMLINKS=y
CONFIG_PREFIX="./_install"
CONFIG_SH_IS_ASH=y
CONFIG_ASH=y
CONFIG_ASH_INTERNAL_GLOB=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_ASH_ALIAS=y
CONFIG_ASH_ECHO=y
CONFIG_ASH_PRINTF=y
CONFIG_ASH_TEST=y
CONFIG_ASH_SLEEP=y
CONFIG_ASH_HELP=y
CONFIG_CTTYHACK=y
CONFIG_FEATURE_SH_MATH=y
CONFIG_FEATURE_SH_MATH_64=y
# CONFIG_PAM is not set
# CONFIG_SELINUX is not set
# CONFIG_FEATURE_TAR_SELINUX is not set
# CONFIG_SELINUXENABLED is not set
# CONFIG_FEATURE_WGET_OPENSSL is not set
# CONFIG_FEATURE_MOUNT_NFS is not set
# CONFIG_FEATURE_INETD_RPC is not set
# CONFIG_NOMMU is not set
# CONFIG_DEBUG is not set
# CONFIG_DEBUG_PESSIMIZE is not set
# CONFIG_DEBUG_SANITIZE is not set
# CONFIG_UNIT_TEST is not set
# CONFIG_WERROR is not set
